.site-main {
  background-image: url("../img/main-bg.png");
  background-repeat: no-repeat;
  background-position: center 650px;
  background-size: 100%;
}
@include breakpoint-down (600) {
  .site-main {
    background-position: center 360px;
  }
}
@include breakpoint-down (500) {
  .site-main {
    background-position: center 300px;
  }
}